Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, echo 'Checking image files...'

.lintstagedrc.json:

{
  "*.{js,jsx}": ["prettier --write", "eslint"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,svg}": ["echo 'Checking image files...'"]
}

chore: update framer-motion dependency to version 12.38.0
  package.json
Due: prettier --write

refactor: rename Github import to GithubIcon for clarity
  src/pages/SupportPage.jsx
Due: prettier --write, eslint

chore: update dependencies and add pnpm workspace configuration
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: update eslint and @eslint/js dependencies to specific versions
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update package versions to remove caret (^) for consistency
  package.json
  pnpm-lock.yaml
Due: prettier --write

Potential fix for code scanning alert no. 13: Unused variable, import, function or class
  src/pages/SupportPage.jsx
Due: prettier --write, eslint

chore: refactor CodeQL workflow for improved analysis configuration
  .github/workflows/codeql.yml
Due: none

style: update layout classes for responsive design in PiecePalette
  src/components/interactions/PiecePalette/PiecePalette.jsx
Due: prettier --write, eslint

style: update layout classes for improved responsiveness in HomePage
  src/pages/HomePage.jsx
Due: prettier --write, eslint

style: refactor layout for improved responsiveness in ChessEditor
  src/components/interactions/ChessEditor/ChessEditor.jsx
Due: prettier --write, eslint

fix: polish export flow and settings
  docs/PERFORMANCE.md
  package.json
  src/components/features/ControlPanel/ControlPanel.jsx
  src/components/features/Export/ExportProgress/ExportProgress.jsx
  src/hooks/usePieceImages.js
  src/pages/AdvancedFENInputPage/AdvancedFENInputPage.jsx
  src/pages/AdvancedFENInputPage/QuickActionsPanel.jsx
  src/pages/SettingsPage.jsx
  src/pages/settings/DataManagement.jsx
  src/pages/settings/index.js
  src/utils/canvasExporter.js
  src/utils/fenParser.js
  src/utils/fenParser.test.js
  src/utils/pieceImageCache.js
  src/utils/svgExporter.js
Due: prettier --write, eslint

fix: correct formatting inconsistencies in CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

refactor: implement feature X to enhance user experience and optimize performance
  pnpm-lock.yaml
Due: none

fix: correct formatting of Migration Guide section in pull request template
  .github/pull_request_template.md
Due: prettier --write

fix: correct formatting of Technology Stack section in README.md
  README.md
Due: prettier --write

fix: correct quotation style in CodeQL analysis category
  .github/workflows/codeql.yml
Due: none

fix: improve table formatting in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: prettier --write

fix: clean up formatting and whitespace in CHANGELOG.md
  docs/CHANGELOG.md
Due: prettier --write

fix: improve table formatting in FAQ.md
  docs/FAQ.md
Due: prettier --write

fix: improve table formatting in STATE_MANAGEMENT.md
  docs/STATE_MANAGEMENT.md
Due: prettier --write

fix: improve formatting and whitespace in KNOWN_ISSUES.md
  docs/KNOWN_ISSUES.md
Due: prettier --write

fix: improve formatting and readability in App.jsx
  src/App.jsx
Due: prettier --write, eslint

fix: refactor arePropsEqual function for improved performance and clarity in BoardGrid.jsx fix: enhance font fallback and adjust CSS variables in index.css
  src/components/board/BoardGrid/BoardGrid.jsx
  src/index.css
Due: prettier --write, eslint

fix: enhance piece alt text for accessibility in BoardSquare.jsx
  src/components/board/BoardSquare/BoardSquare.jsx
Due: prettier --write, eslint

fix: optimize canvas resizing and rendering in ChessBoard.jsx
  src/components/board/ChessBoard/ChessBoard.jsx
Due: prettier --write, eslint

fix: format label display in ThemeSettingsView for improved readability
  src/components/features/ColorPicker/views/ThemeSettingsView.jsx
Due: prettier --write, eslint

fix: update styles in BoardPreview for improved consistency and readability
  src/components/features/Fen/BoardPreview/BoardPreview.jsx
Due: prettier --write, eslint

refactor: extract drag state selection logic into a separate function for improved readability
  src/components/interactions/CustomDragLayer/CustomDragLayer.jsx
Due: prettier --write, eslint

refactor: simplify InteractiveBoard component structure for improved readability
  src/components/interactions/InteractiveBoard/InteractiveBoard.jsx
Due: prettier --write, eslint

fix: improve readability of TrashZone component by formatting span element
  src/components/interactions/TrashZone/TrashZone.jsx
Due: prettier --write, eslint

fix: format Card component's div for improved readability
  src/components/ui/Card/Card.jsx
Due: prettier --write, eslint

fix: add willReadFrequently option to canvas context for improved performance
  src/hooks/useCanvasPicker.js
Due: prettier --write, eslint

fix: update Modal component structure for improved accessibility and animation handling
  src/components/ui/Modal/Modal.jsx
Due: prettier --write, eslint

fix: reformat ThemeCustomization component for improved readability and consistency
  src/pages/settings/ThemeCustomization/ThemeCustomization.jsx
Due: prettier --write, eslint

fix: optimize theme history management in applyTheme and applyCustomTheme functions
  src/hooks/useTheme.js
Due: prettier --write, eslint

fix: simplify value handling in useLocalStorage for clarity
  src/hooks/useLocalStorage.js
Due: prettier --write, eslint

fix: enhance FEN history management with improved persistence and cleanup
  src/hooks/useFENHistory.js
Due: prettier --write, eslint

fix: clean up import formatting and improve value memoization in FENBatchProvider
  src/contexts/FENBatchContext.jsx
Due: prettier --write, eslint

fix: enhance sound playback functionality and manage AudioContext lifecycle
  src/contexts/ThemeSettingsContext.jsx
Due: prettier --write, eslint
