Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, echo 'Checking image files...'

.lintstagedrc.json:

{
  "*.{js,jsx}": ["prettier --write", "eslint"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,svg}": ["echo 'Checking image files...'"]
}

chore: remove web-vitals dependency from lockfile
  pnpm-lock.yaml
Due: none

chore: update build artifact path to include all files
  .github/workflows/ci.yml
Due: none

fix: add rule to enforce usage of JSX variables in React components
  eslint.config.js
Due: prettier --write, eslint

fix: update route for settings page and replace theme customizer page
  src/routes/Router.jsx
Due: prettier --write, eslint

fix: update navigation for ThemeSelector to point to settings page
  src/pages/AdvancedFENInputPage.jsx
Due: prettier --write, eslint

refactor: improve BoardSizeControl component with updated error messages and styling
  src/components/features/export/BoardSizeControl.jsx
Due: prettier --write, eslint

refactor: update label styling in ExportSettings component for improved readability
  src/components/features/export/ExportSettings.jsx
Due: prettier --write, eslint

refactor: update styling in FENInputField for improved accessibility and consistency
  src/components/features/fen/FENInputField.jsx
Due: prettier --write, eslint

refactor: implement theme change listener for localStorage updates and visibility changes
  src/pages/HomePage.jsx
Due: prettier --write, eslint

refactor: update TOOL_PAGES to include '/settings' for improved navigation
  src/App.jsx
Due: prettier --write, eslint

refactor: update favicon and logo images for improved branding
  public/favicon.ico
  public/logo192.png
  public/logo512.png
Due: echo 'Checking image files...'

refactor: update BoardSquare styles for consistent sizing and layout
  src/components/board/BoardSquare/BoardSquare.jsx
Due: prettier --write, eslint

refactor: simplify Navbar component by removing unused code and adding Help Center Drawer
  src/components/layout/Navbar/Navbar.jsx
Due: prettier --write, eslint

refactor: remove React import as it is not used in PiecePalette component
  src/components/interactions/PiecePalette/PiecePalette.jsx
Due: prettier --write, eslint

refactor: remove unused React import and update className for DroppableSquare component
  src/components/interactions/DroppableSquare/DroppableSquare.jsx
Due: prettier --write, eslint

refactor: update ControlPanel styling and add onNotification prop to FENInputField
  src/components/features/ControlPanel/ControlPanel.jsx
Due: prettier --write, eslint

refactor: add outline style to square background in ThemeAdvancedPickerView
  src/components/features/color-picker/views/ThemeAdvancedPickerView.jsx
Due: prettier --write, eslint

refactor: add outline style to square background in ThemeMainView
  src/components/features/color-picker/views/ThemeMainView.jsx
Due: prettier --write, eslint

refactor: update ChessEditor component layout and styling with new coordinate rendering
  src/components/interactions/ChessEditor/ChessEditor.jsx
Due: prettier --write, eslint

refactor: enhance BoardSizeSection layout and styling for improved usability
  src/pages/settings/ExportCustomization.jsx
Due: prettier --write, eslint

refactor: improve InteractiveBoard component structure and styling for consistency
  src/components/interactions/InteractiveBoard/InteractiveBoard.jsx
Due: prettier --write, eslint

feat: add ClipboardHistory component for managing FEN clipboard history
  src/components/features/ClipboardHistory/ClipboardHistory.jsx
Due: prettier --write, eslint

feat: add FENBatchContext for managing FEN batch operations and localStorage persistence
  src/contexts/FENBatchContext.jsx
Due: prettier --write, eslint

feat: create index file for ClipboardHistory component export
  src/components/features/ClipboardHistory/index.js
Due: prettier --write, eslint

feat: add board utility functions and update exports in relevant modules
  src/components/features/index.js
  src/components/layout/index.js
  src/contexts/index.js
  src/utils/boardUtils.js
  src/utils/index.js
Due: prettier --write, eslint

refactor: clean up ControlPanel by removing unused imports and famous positions feature
  src/components/features/ControlPanel/ControlPanel.jsx
Due: prettier --write, eslint

feat: add thin frame option to DisplayOptions for enhanced visual customization
  src/components/features/DisplayOptions/DisplayOptions.jsx
Due: prettier --write, eslint

feat: enhance export resolution handling and add optional thin frame for canvas
  src/utils/imageOptimizer.js
Due: prettier --write, eslint

feat: update bug report template to reflect application name FENForsty Pro
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: update feature request template to reflect application name FENForsty Pro
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: update context in architectural decision to reflect application name FENForsty Pro
  docs/DECISIONS.md
Due: prettier --write

fix: update reason in known issues to reflect application name FENForsty Pro
  docs/KNOWN_ISSUES.md
Due: prettier --write

fix: update export pipeline documentation to reflect application name FENForsty Pro
  docs/EXPORT_PIPELINE.md
Due: prettier --write

fix: update FAQ title to reflect application name FENForsty Pro
  docs/FAQ.md
Due: prettier --write

fix: update roadmap to reflect application name FENForsty Pro
  docs/ROADMAP.md
Due: prettier --write

fix: update application name in manifest to FENForsty Pro
  public/manifest.json
Due: prettier --write

fix: update application name in robots.txt to FENForsty Pro
  public/robots.txt
Due: none

fix: reorder import statements in ThemeAdvancedPickerView.jsx for consistency
  src/components/features/ColorPicker/views/ThemeAdvancedPickerView.jsx
Due: prettier --write, eslint

fix: reorder import statements in ThemeMainView.jsx for consistency
  src/components/features/ColorPicker/views/ThemeMainView.jsx
Due: prettier --write, eslint
