Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, echo 'Checking image files...'

.lintstagedrc.json:

{
  "*.{js,jsx}": ["prettier --write", "eslint"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,svg}": ["echo 'Checking image files...'"]
}

fix: remove unnecessary eslint comment from LayoutContext.jsx
  src/contexts/LayoutContext.jsx
Due: prettier --write, eslint

refactor: enhance type safety in InteractiveBoard component props and handlers
  src/components/interactions/InteractiveBoard/InteractiveBoard.tsx
Due: none

refactor: enhance type safety in PiecePalette component props and internal types
  src/components/interactions/PiecePalette/PiecePalette.tsx
Due: none

refactor: improve board size calculation and enhance type safety in ChessEditorProps
  src/components/interactions/ChessEditor/ChessEditor.tsx
Due: none

Fix license year and AGPL version in README
  README.md
Due: prettier --write

refactor: downgrade CodeQL action versions for improved stability
  .github/workflows/codeql.yml
Due: none

refactor: remove CodeQL workflow for security scanning
  .github/workflows/codeql.yml
Due: none

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

Create codacy.yml
  .github/workflows/codacy.yml
Due: none

fix: update project name references from FENForsty Pro to Chess Vision
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTORS.md
Due: prettier --write

fix: update project name references from FENForsty Pro to Chess Vision
  src/components/features/ColorPicker/views/ThemeSettingsView.jsx
  src/components/features/HelpCenter/HelpCenter.jsx
  src/components/layout/Navbar/Navbar.jsx
  src/pages/AboutPage.jsx
  src/pages/SupportPage.jsx
  src/pages/settings/DataManagement.jsx
Due: prettier --write, eslint

fix: update project name references from FENForsty Pro to Chess Vision in documentation files
  docs/ACCESSIBILITY.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/DECISIONS.md
  docs/DESIGN_ERRORS_ANALYSIS.md
  docs/EXPORT_PIPELINE.md
  docs/FAQ.md
  docs/KNOWN_ISSUES.md
  docs/PERFORMANCE.md
  docs/README.md
  docs/ROADMAP.md
  docs/STATE_MANAGEMENT.md
Due: prettier --write

feat: add dependency and security audit reports
  docs/DEPENDENCY_AUDIT.md
  docs/SECURITY_AUDIT.md
Due: prettier --write

fix: update project name references from FENForsty Pro to Chess Vision in README.md
  README.md
Due: prettier --write

fix: update project name references from FENForsty Pro to Chess Vision in index.html
  index.html
Due: none

fix: update project name from chessviewer to chess-vision in package.json
  package.json
Due: prettier --write

fix: update security policy to reflect project name change to Chess Vision
  SECURITY.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update license badge in README.md
  README.md
Due: prettier --write

style: format code for better readability in index.tsx
  src/index.tsx
Due: none

fix: optimize file size estimation for PNG and JPEG exports
  src/utils/imageOptimizer.js
Due: prettier --write, eslint

feat: add detailed FEN validation function with specific error messages
  src/utils/fenValidationDetailed.ts
Due: none

feat: enhance FEN parsing with detailed validation and error handling
  src/utils/fenParser.ts
Due: none

fix: remove redundant check for empty board in FEN validation
  src/utils/canvasRenderer.js
Due: prettier --write, eslint

feat: add notification handler to streamline message display logic
  src/pages/HomePage.jsx
Due: prettier --write, eslint

fix: simplify piece image state update in usePieceImages hook
  src/hooks/usePieceImages.js
Due: prettier --write, eslint

fix: handle different item types in ClipboardHistory component
  src/components/features/ClipboardHistory/ClipboardHistory.jsx
Due: prettier --write, eslint

refactor: remove unused FEN validation error handling in ControlPanel component
  src/components/features/ControlPanel/ControlPanel.tsx
Due: none

feat: add saveExportFen method to commit FEN history for export
  src/hooks/useFENHistory.js
Due: prettier --write, eslint

refactor: adjust Navbar component layout and styling for improved visual hierarchy
  src/components/layout/Navbar/Navbar.jsx
Due: prettier --write, eslint

chore: remove unnecessary blank lines in TrashZone component
  src/components/interactions/TrashZone/TrashZone.tsx
Due: none

refactor: improve CustomDragLayer structure and optimize drag state handling
  src/components/interactions/CustomDragLayer/CustomDragLayer.tsx
Due: none

fix: allow console log in production environment for better debugging
  eslint.config.js
Due: prettier --write, eslint

fix: update spelling of Chess Vision to ChessVision for consistency
  index.html
Due: none

fix: update spelling of Chess Vision to ChessVision in HelpCenter.jsx for consistency
  src/components/features/HelpCenter/HelpCenter.jsx
Due: prettier --write, eslint

fix: update spelling of Chess Vision to ChessVision in STATE_MANAGEMENT.md for consistency
  docs/STATE_MANAGEMENT.md
Due: prettier --write

feat: add SAST & Logic Review Report with security findings and remediation suggestions
  docs/SAST_REPORT.md
Due: prettier --write

feat: add RELEASES.md to document version history and major changes
  docs/RELEASES.md
Due: prettier --write
