Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --max-warnings=0, echo 'Checking image files...'

refactor: simplify ThemeMainView component structure and improve readability
  src/components/UI/color-picker/views/ThemeMainView.jsx
Due: prettier --write, eslint --max-warnings=0

refactor: enhance state initialization and error handling in useChessBoard hook
  src/hooks/useChessBoard.js
Due: prettier --write, eslint --max-warnings=0

refactor: remove unused test script and clean up ESLint configuration
  .commitlintrc.json
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

refactor: replace .eslintrc.json with .eslintrc.js for improved ESLint configuration
  .eslintrc.js
  .eslintrc.json
Due: prettier --write, eslint --max-warnings=0

fix: remove max-warnings option from lint script for better flexibility
  package.json
Due: prettier --write

refactor: improve code structure for readability and maintainability
  .lintstagedrc.json
  package-lock.json
Due: prettier --write

refactor: remove eslint-disable comment from logger utility for cleaner code
  src/utils/logger.js
Due: prettier --write, eslint --max-warnings=0

style: apply Prettier formatting to modified files
  src/components/UI/ExportProgress.jsx
  src/components/UI/NotificationContainer.jsx
  src/components/UI/base/Input.jsx
  src/components/UI/base/Select.jsx
  src/components/UI/color-picker/ColorPicker.jsx
  src/components/UI/color-picker/parts/ColorSwatch.jsx
  src/components/UI/color-picker/parts/PrimaryActions.jsx
  src/components/UI/color-picker/parts/ThemePresetCard.jsx
  src/components/board/BoardSquare.jsx
  src/components/controls/DisplayOptions.jsx
  src/components/controls/ExportSettings.jsx
  src/components/controls/PieceSelector.jsx
  src/components/controls/ThemeSelector.jsx
  src/components/controls/atoms/FENInputField.jsx
  src/components/controls/modals/FENHistoryModal.jsx
  src/components/layouts/Navbar.jsx
  src/hooks/useCanvasPicker.js
  src/hooks/useColorConversion.js
  src/hooks/useOutsideClick.js
  src/pages/DownloadPage.jsx
  src/routes/Router.jsx
Due: prettier --write, eslint --max-warnings=0

style: standardize quote style to single quotes across all components and exports
  src/components/UI/base/Badge.jsx
  src/components/UI/base/Card.jsx
  src/components/UI/base/Checkbox.jsx
  src/components/UI/base/RangeSlider.jsx
  src/components/UI/base/index.js
  src/components/UI/color-picker/index.js
  src/components/UI/color-picker/parts/ColorInput.jsx
  src/components/UI/color-picker/parts/ColorPalettes.jsx
  src/components/UI/color-picker/parts/index.js
  src/components/UI/color-picker/views/index.js
  src/components/board/index.js
  src/components/controls/atoms/index.js
  src/components/controls/index.js
  src/components/layouts/index.js
  src/pages/SupportPage.jsx
  src/pages/index.js
Due: prettier --write, eslint --max-warnings=0

chore: add .gitattributes file to manage line endings
  .gitattributes
Due: none

style: re-enable eslint rule for console usage in logger utility
  src/utils/logger.js
Due: prettier --write, eslint --max-warnings=0

refactor: restore eslint-disable for console usage in development logging
  src/utils/logger.js
Due: prettier --write, eslint --max-warnings=0

refactor: simplify logger utility by removing conditional logging functions
  src/utils/logger.js
Due: prettier --write, eslint --max-warnings=0

refactor: update logger utility to use environment check for logging functions
  src/utils/logger.js
Due: prettier --write, eslint --max-warnings=0

chore: add .env.production file to disable ESLint plugin
  .env.production
Due: none

chore: add example environment configuration file
  .env.example
Due: none

docs: update README table of contents and browser support section
  README.md
Due: prettier --write

docs: add screenshot link to README for better visualization
  README.md
Due: prettier --write

docs: update README to use image syntax for screenshot
  README.md
Due: prettier --write

refactor: consolidate FEN configuration and improve localStorage handling in AdvancedFENInputModal
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: prettier --write, eslint --max-warnings=0

style: remove unnecessary class from BoardPreview component
  src/components/controls/modals/parts/BoardPreview.jsx
Due: prettier --write, eslint --max-warnings=0

feat: add advanced FEN modal configuration with presets and storage keys
  src/constants/chessConstants.js
Due: prettier --write, eslint --max-warnings=0

feat: add .nvmrc file to specify Node.js version
  .nvmrc
Due: none

feat: add VSCode extensions recommendations for improved development experience
  .vscode/extensions.json
Due: prettier --write

chore: remove unused screenshots image file
  public/screenshots.jpg
Due: echo 'Checking image files...'

feat: add robots.txt for SEO optimization and crawl control
  public/robots.txt
Due: none

feat: add sitemap.xml for improved SEO and site indexing
  public/sitemap.xml
Due: none

fix: correct DOCTYPE declaration in index.html
  public/index.html
Due: none

chore: update pull request template for improved clarity and organization
  .github/pull_request_template.md
Due: prettier --write

feat: enhance feature request template for clarity and detail
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: none

feat: add CI pipeline configuration for automated testing and deployment
  .github/workflows/ci.yml
Due: none

feat: enhance bug report template for improved clarity and detail
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

feat: update CodeQL workflow for improved security scanning and clarity
  .github/workflows/codeql.yml
Due: none

chore: remove unused favicon and icon files to clean up the project
  public/favicon.ico
  public/icon.jpg
Due: echo 'Checking image files...'

chore: bump version to 3.5.4 in package.json
  package.json
Due: prettier --write

feat: expand Tailwind CSS configuration with custom colors, spacing, animations, and typography
  tailwind.config.js
Due: prettier --write, eslint --max-warnings=0

feat: update VSCode settings for Tailwind CSS support and validation
  .vscode/settings.json
Due: prettier --write

feat: enhance CSS structure with performance optimizations and new animations
  src/index.css
Due: prettier --write

refactor: remove unused onNotification prop and simplify FamousPositionButton rendering
  src/components/controls/ControlPanel.jsx
Due: prettier --write, eslint --max-warnings=0

refactor: remove unused positionKey prop and improve button accessibility
  src/components/controls/atoms/FamousPositionButton.jsx
Due: prettier --write, eslint --max-warnings=0

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  eslint --max-warnings=0: any of: *.{js,jsx}
  echo 'Checking image files...': any of: *.{png,jpg,jpeg,gif,svg}
