Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, echo 'Checking image files...'

feat: enhance export functionality in AdvancedFENInputModal with improved UI and format options
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: prettier --write, eslint

feat: update z-index values in Navbar for improved layering and visibility
  src/components/layouts/Navbar.jsx
Due: prettier --write, eslint

feat: enhance ActionButtons styling for improved usability and visual appeal
  src/components/UI/ActionButtons.jsx
Due: prettier --write, eslint

feat: update Floating Menu Button visibility logic to hide when menu is open
  src/components/layouts/Navbar.jsx
Due: prettier --write, eslint

feat: enhance DownloadPage with PWA installation instructions and improved UI elements
  src/pages/DownloadPage.jsx
Due: prettier --write, eslint

feat: enhance DownloadPage with additional icons and improved layout for installation instructions
  src/pages/DownloadPage.jsx
Due: prettier --write, eslint

feat: update AdvancedFENInputModal styles for improved layout and responsiveness
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: prettier --write, eslint

feat: enhance SupportPage with additional support options and improved layout
  src/pages/SupportPage.jsx
Due: prettier --write, eslint

feat: improve AdvancedFENInputModal layout with internal scroll and body overflow handling
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: prettier --write, eslint

feat: enhance PageLoader with a chess-themed spinner and improved layout
  src/routes/Router.jsx
Due: prettier --write, eslint

feat: add announcement for v5.0.0 major update with core improvements and new features
  ANNOUNCEMENT.md
Due: prettier --write

Set package-ecosystem to 'npm' in dependabot.yml
  .github/dependabot.yml
Due: none

fix: correct tailwindcss plugin reference in postcss.config.js
  postcss.config.js
Due: prettier --write, eslint

fix: update package.json for script adjustments and dependency versions
  package.json
Due: prettier --write

chore: update package-lock.json to reflect dependency changes
  package-lock.json
Due: prettier --write

fix: update CI configuration to remove 'main' branch references and upgrade Node.js version to 20
  .github/workflows/ci.yml
Due: none

fix: update CodeQL workflow for improved security analysis and consistency
  .github/workflows/codeql.yml
Due: none

fix: update lint workflow for improved job names, environment variable usage, and summary reporting
  .github/workflows/lint.yml
Due: none

fix: standardize quotes in dependabot configuration for consistency
  .github/dependabot.yml
Due: none

fix: update Node.js version in .nvmrc to 20
  .nvmrc
Due: none

fix: add ESLint and related plugins to devDependencies for improved code quality
  package.json
Due: prettier --write

fix: replace .eslintrc.js with eslint.config.js for improved ESLint configuration
  .eslintrc.js
  eslint.config.js
Due: prettier --write, eslint

chore: update CI workflows to include 'develop' branch for push and pull_request events
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

fix: refactor webpack configuration to improve alias handling and structure
  craco.config.js
Due: prettier --write, eslint

fix: update jsconfig.json to improve path resolution and module settings
  jsconfig.json
Due: prettier --write

fix: update CI workflow to enhance dependency caching and streamline build process
  .github/workflows/ci.yml
Due: none

fix: update CI workflows for improved code quality checks and caching
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

fix: replace nested type-fest dependency with direct reference in package-lock.json
  package-lock.json
Due: prettier --write

fix: refactor CI workflows for improved structure and consistency
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

feat: update environment variables and configuration files for Vite setup
  .env.example
  .gitignore
  .nvmrc
  craco.config.js
  eslint.config.js
  index.html
  postcss.config.js
  src/utils/logger.js
Due: prettier --write, eslint

chore(packages): migrate to pnpm, add pnpm-lock.yaml, update package.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update CI workflows to use pnpm and Node.js 20
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

chore: update documentation to use pnpm for installation and build commands
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/ARCHITECTURE.md
  docs/FAQ.md
Due: prettier --write

chore: remove automated import path refactoring script
  scripts/fix-imports.js
Due: prettier --write, eslint

chore: clean up package.json and update output directory in Vite config
  package.json
  vite.config.js
Due: prettier --write, eslint

chore: update CI workflows to reference 'dist' directory instead of 'build'
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
Due: none

chore: remove PNPM_VERSION from CI workflows
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/lint.yml
Due: none

chore: update lint workflows to use CI-specific linting and formatting commands
  .github/workflows/ci.yml
  .github/workflows/lint.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  eslint: any of: *.{js,jsx}
  echo 'Checking image files...': any of: *.{png,jpg,jpeg,gif,svg}
