Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, echo 'Checking image files...'

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,css,scss}": ["prettier --write"],
  "*.{png,jpg,jpeg,gif,svg}": ["echo 'Checking image files...'"]
}

chore(prettier): add prettier ignore file
  .prettierignore
Due: none

chore(prettier): add prettier configuration
  .prettierrc
Due: none

chore(deps): update package-lock.json
  package-lock.json
Due: prettier --write

chore(docs): remove obsolete documentation from root
  ARCHITECTURE.md
  CHANGELOG.md
  FAQ.md
Due: prettier --write

docs(changelog): add changelog documentation
  docs/CHANGELOG.md
Due: prettier --write

fix(fen-parser): resolve syntax errors
  src/utils/fenParser.js
Due: eslint --fix, prettier --write

fix(index.js): resolve syntax errors
  src/components/index.js
Due: eslint --fix, prettier --write

style: update button hover effects
  src/components/UI/ActionButtons.jsx
Due: eslint --fix, prettier --write

chore: update dependencies to latest versions
  package-lock.json
Due: prettier --write

chore: remove eslintrc.json file
  .eslintrc.json
Due: prettier --write

refactor: clean up component structure
  public/index.html
  src/App.jsx
Due: eslint --fix, prettier --write

refactor: clean up component structure
  src/index.js
Due: eslint --fix, prettier --write

docs: add export pipeline documentation and future roadmap
  docs/EXPORT_PIPELINE.md
  src/utils/canvasExporter.js
Due: eslint --fix, prettier --write

docs: update CHANGELOG for v3.5.2 release, refine planned features and fix formatting
  docs/CHANGELOG.md
Due: prettier --write

docs: update accessibility documentation to reflect recent improvements in ARIA attributes and focus management
  docs/ACCESSIBILITY.md
Due: prettier --write

docs: add initial roadmap outlining implemented features and future plans
  docs/ROADMAP.md
Due: prettier --write

docs: add comprehensive state management documentation for Chess Diagram Generator
  docs/STATE_MANAGEMENT.md
Due: prettier --write

docs: add Architectural Decision Records (ADR) for key technical decisions
  docs/DECISIONS.md
Due: prettier --write

docs: add Design Errors Analysis documentation outlining identified issues and resolutions
  docs/DESIGN_ERRORS_ANALYSIS.md
Due: prettier --write

docs: update EXPORT_PIPELINE and FAQ documentation for clarity and consistency
  docs/EXPORT_PIPELINE.md
  docs/FAQ.md
  docs/FEN.md
Due: prettier --write

docs: add performance considerations and optimizations for Chess Diagram Generator
  docs/KNOWN_ISSUES.md
  docs/LINTING_SETUP.md
  docs/PERFORMANCE.md
Due: prettier --write

docs: add initial documentation for Chess Diagram Generator
  docs/README.md
Due: prettier --write

refactor: enhance hooks with improved error handling and logging
  src/hooks/useColorState.js
  src/hooks/useFENHistory.js
  src/hooks/useLocalStorage.js
  src/hooks/useNotifications.js
  src/hooks/usePieceImages.js
  src/hooks/useTheme.js
Due: eslint --fix, prettier --write

feat: add centralized error handling utility and improve various utility functions
  src/utils/canvasExporter.js
  src/utils/colorUtils.js
  src/utils/coordinateCalculations.js
  src/utils/errorHandler.js
  src/utils/fenParser.js
  src/utils/imageOptimizer.js
  src/utils/index.js
Due: eslint --fix, prettier --write

feat: implement centralized logging utility and enhance export functions with logging
  src/utils/advancedExport.js
  src/utils/logger.js
  src/utils/validation.js
Due: eslint --fix, prettier --write

feat: add ErrorBoundary component for error handling and improve accessibility in UI components
  src/components/UI/ActionButtons.jsx
  src/components/UI/ErrorBoundary.jsx
  src/components/UI/base/Button.jsx
  src/components/UI/base/Modal.jsx
  src/components/UI/base/SearchableSelect.jsx
  src/components/UI/color-picker/parts/SelectedPreview.jsx
  src/components/UI/index.js
Due: eslint --fix, prettier --write

refactor: standardize string quotes and improve error handling across components
  src/components/UI/color-picker/views/ThemeAdvancedPickerView.jsx
  src/components/board/ChessBoard.jsx
  src/components/board/MiniChessPreview.jsx
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: eslint --fix, prettier --write

refactor: unify string quote styles and enhance error handling in BoardSizeControl and ControlPanel components
  src/components/controls/BoardSizeControl.jsx
  src/components/controls/ControlPanel.jsx
Due: eslint --fix, prettier --write

feat: wrap App component in ErrorBoundary for improved error handling
  src/App.jsx
  src/pages/HomePage.jsx
Due: eslint --fix, prettier --write

fix: remove unused imports and fix useEffect dependencies for ESLint
  src/components/UI/color-picker/PickerModal.jsx
  src/components/UI/color-picker/views/ThemeAdvancedPickerView.jsx
Due: eslint --fix, prettier --write

docs: add 2 known issues (Multi-FEN preview, ThemeModal color picker)
  docs/KNOWN_ISSUES.md
Due: prettier --write

docs: fix false claim about React.lazy code splitting
  docs/PERFORMANCE.md
Due: prettier --write

docs: fix incorrect piece set count (27 -> 23) and React version (18 -> 19.x)
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
Due: prettier --write

docs: remove fake statistics and placeholder issue link
  docs/KNOWN_ISSUES.md
Due: prettier --write

docs: remove more false claims (requestAnimationFrame, debounce, GPU-accelerated, fake counts)
  README.md
  docs/ARCHITECTURE.md
  docs/CHANGELOG.md
  docs/DESIGN_ERRORS_ANALYSIS.md
Due: prettier --write

docs: rewrite README - remove emojis, simplify, make professional
  README.md
Due: prettier --write

Revert "docs: rewrite README - remove emojis, simplify, make professional"
  README.md
Due: prettier --write

fix: standardize quotes and update placeholder text in ExportSettingsModal
  src/components/controls/modals/ExportSettingsModal.jsx
Due: eslint --fix, prettier --write

refactor: update boardSize handling to use centimeters for export and display calculations
  src/pages/HomePage.jsx
  src/utils/canvasExporter.js
  src/utils/coordinateCalculations.js
  src/utils/imageOptimizer.js
Due: eslint --fix, prettier --write
