Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, echo 'Checking image files...'

feat: add useRef for pieceImages in ChessEditor to optimize image handling
  src/components/interactions/ChessEditor/ChessEditor.jsx
Due: prettier --write, eslint

fix: update script source in index.html to use TypeScript entry point
  index.html
Due: none

feat: update file extensions in Vite configuration for TypeScript support
  vite.config.js
Due: prettier --write, eslint

refactor: remove index.js files for components in the Fen and interactions directories
  src/components/features/Fen/BoardPreview/index.js
  src/components/features/Fen/FENInputField/index.js
  src/components/features/Fen/FENInputList/index.js
  src/components/features/Fen/PieceSelector/index.js
  src/components/interactions/ChessEditor/index.js
  src/components/interactions/CustomDragLayer/index.js
  src/components/interactions/DndProvider/index.js
  src/components/interactions/DraggablePiece/index.js
  src/components/interactions/DroppableSquare/index.js
  src/components/interactions/InteractiveBoard/index.js
  src/components/interactions/PiecePalette/index.js
  src/components/interactions/TrashZone/index.js
Due: prettier --write, eslint

feat: add TypeScript index files for components in Fen and interactions directories
  src/components/features/Fen/BoardPreview/index.ts
  src/components/features/Fen/FENInputField/index.ts
  src/components/features/Fen/FENInputList/index.ts
  src/components/features/Fen/PieceSelector/index.ts
  src/components/interactions/ChessEditor/index.ts
  src/components/interactions/CustomDragLayer/index.ts
  src/components/interactions/DndProvider/index.ts
  src/components/interactions/DraggablePiece/index.ts
  src/components/interactions/DroppableSquare/index.ts
  src/components/interactions/InteractiveBoard/index.ts
  src/components/interactions/PiecePalette/index.ts
  src/components/interactions/TrashZone/index.ts
Due: none

refactor: remove index.jsx file to streamline entry point
  src/index.jsx
Due: prettier --write, eslint

feat: implement main application component with theme management and routing
  src/App.tsx
Due: none

refactor: remove BoardPreview component to simplify codebase
  src/components/features/Fen/BoardPreview/BoardPreview.jsx
Due: prettier --write, eslint

refactor: remove FENInputField component to simplify codebase
  src/components/features/Fen/FENInputField/FENInputField.jsx
Due: prettier --write, eslint

refactor: remove PieceSelector component to simplify codebase
  src/components/features/Fen/PieceSelector/PieceSelector.jsx
Due: prettier --write, eslint

refactor: remove DraggablePiece component to simplify codebase
  src/components/interactions/DraggablePiece/DraggablePiece.jsx
Due: prettier --write, eslint

refactor: remove DroppableSquare component to simplify codebase
  src/components/interactions/DroppableSquare/DroppableSquare.jsx
Due: prettier --write, eslint

feat: add PieceSelector component for selecting chess piece styles
  src/components/features/Fen/PieceSelector/PieceSelector.tsx
Due: none

feat: implement ChessEditor component for interactive chess editing
  src/components/interactions/ChessEditor/ChessEditor.tsx
Due: none

feat: add CustomDragLayer component for enhanced drag-and-drop functionality
  src/components/interactions/CustomDragLayer/CustomDragLayer.tsx
Due: none

feat: add TrashZone component for handling piece removal
  src/components/interactions/TrashZone/TrashZone.tsx
Due: none

feat: implement InteractiveBoard component for drag-and-drop chess interactions
  src/components/interactions/InteractiveBoard/InteractiveBoard.tsx
Due: none

feat: add DroppableSquare component for handling piece drops in chess
  src/components/interactions/DroppableSquare/DroppableSquare.tsx
Due: none

feat: add DraggablePiece component for draggable chess pieces
  src/components/interactions/DraggablePiece/DraggablePiece.tsx
Due: none

feat: enhance FENInputField with local state management and improved performance
  src/components/features/Fen/FENInputField/FENInputField.tsx
Due: none

style: improve layout and accessibility of TrashZone component
  src/components/interactions/TrashZone/TrashZone.tsx
Due: none

style: improve layout and responsiveness of ChessEditor component
  src/components/interactions/ChessEditor/ChessEditor.tsx
Due: none

Update README.md
  README.md
Due: prettier --write

docs: update DECISIONS.md with SVG export implementation details and last updated date
  docs/DECISIONS.md
Due: prettier --write

docs: update DESIGN_ERRORS_ANALYSIS.md file extension and last modified date
  docs/DESIGN_ERRORS_ANALYSIS.md
Due: prettier --write

docs: update CHANGELOG.md to include recent development activity and enhancements
  docs/CHANGELOG.md
Due: prettier --write

docs: update EXPORT_PIPELINE.md to include SVG export details and clarify export formats
  docs/EXPORT_PIPELINE.md
Due: prettier --write

refactor: code structure for improved readability and maintainability
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: correct Content-Security-Policy img-src value by removing 'blob:' entry
  vercel.json
Due: prettier --write

refactor: correct Tailwind CSS plugin configuration in postcss.config.js
  postcss.config.js
Due: prettier --write, eslint

refactor: adjust image rendering style and update loading spinner dimensions in ChessBoard component
  src/components/board/ChessBoard/ChessBoard.jsx
Due: prettier --write, eslint

refactor: adjust button padding and grid layout in ActionButtons component
  src/components/features/ActionButtons/ActionButtons.jsx
Due: prettier --write, eslint

refactor: enhance accessibility features in ThemeMainView component
  src/components/features/ColorPicker/views/ThemeMainView.jsx
Due: prettier --write, eslint

refactor: optimize ClipboardHistory component with virtualization and improved state management
  src/components/features/ClipboardHistory/ClipboardHistory.jsx
Due: prettier --write, eslint

refactor: update button styles and icon sizes in PrimaryActions component
  src/components/features/ColorPicker/parts/PrimaryActions.jsx
Due: prettier --write, eslint

refactor: enhance accessibility and adjust canvas dimensions in ThemeAdvancedPickerView component
  src/components/features/ColorPicker/views/ThemeAdvancedPickerView.jsx
Due: prettier --write, eslint

refactor: enhance SVG generation by sanitizing input and improving accessibility features
  src/utils/svgExporter.js
Due: prettier --write, eslint

fix: update import path for ControlPanel component to remove file extension
  src/components/features/ControlPanel/index.js
Due: prettier --write, eslint

refactor: simplify onChange handling and remove debounce logic in FENInputField
  src/components/features/Fen/FENInputField/FENInputField.tsx
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  eslint: any of: *.{js,jsx}
  echo 'Checking image files...': any of: *.{png,jpg,jpeg,gif,svg}
