Repository BilgeGates/chess_viewer: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, echo 'Checking image files...'

feat: add CodeQL Advanced Security Analysis workflow
  .github/workflows/codeql.yml
Due: none

Potential fix for code scanning alert no. 2: Useless comparison test
  src/utils/colorUtils.js
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 1: Useless comparison test
  src/components/UI/color-picker/parts/HueSlider.jsx
Due: eslint --fix, prettier --write

fix: add eslint disable comment for console.log in logger utility
  src/utils/logger.js
Due: eslint --fix, prettier --write

feat: add .editorconfig for consistent coding styles
  .editorconfig
Due: none

feat: add ESLint configuration for code quality enforcement
  .eslintrc.json
Due: prettier --write

fix: update lint-staged configuration to enforce max warnings for ESLint
  .lintstagedrc.json
Due: prettier --write

chore: add linting and formatting scripts, configure husky and commitlint
  package-lock.json
  package.json
Due: prettier --write

feat: add GitHub Actions workflow for linting and formatting checks
  .github/workflows/lint.yml
Due: none

feat: add home page screenshot for documentation
  docs/assets/screenshoot_home-page.jpg
Due: echo 'Checking image files...'

feat: pass pieceStyle and theme colors to child components in ControlPanel
  src/components/controls/ControlPanel.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes and improve key assignment in BoardGrid component
  src/components/board/BoardGrid.jsx
Due: eslint --fix, prettier --write

fix: improve variable destructuring in image loading promises for clarity
  src/utils/imageOptimizer.js
Due: eslint --fix, prettier --write

fix: improve variable declarations for clarity in color utility functions
  src/utils/colorUtils.js
Due: eslint --fix, prettier --write

fix: standardize quotes and improve variable destructuring in FamousPositionButton component
  src/components/controls/atoms/FamousPositionButton.jsx
Due: eslint --fix, prettier --write

feat: refactor AdvancedFENInputModal to implement tab-based UI for improved user experience
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: eslint --fix, prettier --write

feat: add ThemeSettingsContext for managing theme settings and recent colors
  src/contexts/ThemeSettingsContext.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes and improve variable destructuring in ThemeModal component
  src/components/controls/modals/ThemeModal.jsx
Due: eslint --fix, prettier --write

feat: add FENInputList and FENInputRow components for managing FEN positions
  src/components/controls/modals/parts/FENInputList.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes and improve variable destructuring in AboutPage component
  src/pages/AboutPage.jsx
Due: eslint --fix, prettier --write

feat: add BoardPreview component for displaying live chess positions in AdvancedFENInputModal
  src/components/controls/modals/parts/BoardPreview.jsx
Due: eslint --fix, prettier --write

feat: implement Footer component with GitHub link and current year display
  src/components/layouts/Footer.jsx
Due: eslint --fix, prettier --write

fix: standardize parameter destructuring in useTheme hook
  src/hooks/useTheme.js
Due: eslint --fix, prettier --write

fix: standardize quotes and improve variable destructuring in UserGuide component
  src/components/UI/UserGuide.jsx
Due: eslint --fix, prettier --write

fix: standardize parameter destructuring in PickerModal component
  src/components/UI/color-picker/PickerModal.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes and parameter destructuring in HueSlider component
  src/components/UI/color-picker/parts/HueSlider.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes, improve layout, and enhance theme preview in ThemeMainView component
  src/components/UI/color-picker/views/ThemeMainView.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes in chessConstants.js
  src/constants/chessConstants.js
Due: eslint --fix, prettier --write

fix: change variable declaration from let to const in createSmartCanvas function
  src/utils/advancedExport.js
Due: eslint --fix, prettier --write

fix: standardize quotes in modal exports and hooks files
  src/components/controls/modals/index.js
  src/components/controls/modals/parts/index.js
  src/contexts/index.js
  src/hooks/index.js
Due: eslint --fix, prettier --write

fix: wrap main content in ThemeSettingsProvider for context access
  src/App.jsx
Due: eslint --fix, prettier --write

fix: standardize quotes in CSS file for consistency
  src/index.css
Due: prettier --write

fix(theme): update ThemeSettingsView formatting
  src/components/UI/color-picker/views/ThemeSettingsView.jsx
Due: eslint --fix, prettier --write

Potential fix for code scanning alert no. 6: Workflow does not contain permissions
  .github/workflows/lint.yml
Due: none

fix(changelog): update v3.5.3 section with recent fixes and UI/UX improvements
  docs/CHANGELOG.md
Due: prettier --write

chore: release v3.5.3 - tab-based modal refactor, lint fixes
  package.json
Due: prettier --write

Potential fix for code scanning alert no. 7: Useless comparison test
  src/components/UI/color-picker/parts/HueSlider.jsx
Due: eslint --fix, prettier --write

fix: ensure valid FEN handling and improve board rendering logic
  src/components/controls/modals/AdvancedFENInputModal.jsx
Due: eslint --fix, prettier --write

fix: enhance ThemeModal re-rendering logic on color changes
  src/components/controls/modals/ThemeModal.jsx
Due: eslint --fix, prettier --write

fix: improve board readiness check and loading indicator in ThemeMainView
  src/components/UI/color-picker/views/ThemeMainView.jsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{json,md,css,scss})
  echo 'Checking image files...': any of: *.{png,jpg,jpeg,gif,svg}
